.breadcrumb {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding-left: 0px;
}

.breadcrumb .breadcrumb__item {
  float: left;
}

.breadcrumb .breadcrumb__link {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 55px;
  background: var(--purple-500);
  position: relative;
  display: block;
  float: left;
  font-size: 1em;
}

@media (max-width: 1023px) {
  .breadcrumb {
    width: 100%;
    max-width: 100%;
  }

  .breadcrumb .breadcrumb__link {
    font-size: 1.5em;
  }
}

.breadcrumb .breadcrumb__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid var(--purple-500);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb .breadcrumb__item:first-child .breadcrumb__link {
  padding-left: 20px;
}
.breadcrumb .breadcrumb__item:nth-child(2) .breadcrumb__link {
  background: var(--purple-300);
}
.breadcrumb .breadcrumb__item:nth-child(2) .breadcrumb__link:after {
  border-left-color: var(--purple-300);
}
.breadcrumb .breadcrumb__item:nth-child(3) .breadcrumb__link {
  background: var(--purple-100);
}
.breadcrumb .breadcrumb__item:nth-child(3) .breadcrumb__link:after {
  border-left-color: var(--purple-100);
}
.breadcrumb .breadcrumb__item:last-child .breadcrumb__link {
  background: var(--purple-100) !important;
  color: black;
  pointer-events: none;
  cursor: default;
}
.breadcrumb .breadcrumb__item:last-child .breadcrumb__link:after {
  border-left-color: var(--purple-100) !important;
}
.breadcrumb .breadcrumb__link:hover {
  background: var(--purple-700) !important;
}
.breadcrumb .breadcrumb__link:hover:after {
  border-left-color: var(--purple-700) !important;
}
