/* .gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  margin: 0 auto;
}

.gallery__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 4px;
  width: 324px;
  height: 324px;
  border-radius: 8px;
}

.gallery__thumbnailimage {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */
