.gallery {
  max-width: 1024px;
  margin: 0 auto;
}

.gallery__thumbnail {
  overflow: hidden;
  margin: 4px;
  height: 320px;
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .gallery__thumbnail {
    height: 640px;
  }
}

.gallery__thumbnailimage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
