.gallery {
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 566px) {
  .gallery {
    justify-content: center;
  }
}

.gallery__thumbnail {
  overflow: hidden;
  margin: 4px;
  height: 320px;
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .gallery__thumbnail {
    height: 50vh;
    background-color: white;
    margin-bottom: 20px;
  }
}

.gallery__thumbnailimage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
