.header {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .header {
    font-size: 1.5em;
  }
}

@media (min-width: 551px) {
  .header {
    font-size: 1em;
  }
}

.header .header__profile {
  overflow: hidden;
  margin: 4px;
  height: 128px;
  border-radius: 50%;
}

@media (max-width: 550px) {
  .header .header__profile {
    height: 256px;
  }
}

@media (min-width: 551px) {
  .header .header__profile {
    height: 128px;
  }
}

.header .header__link {
  cursor: pointer;
  text-decoration: none;
}

.header .header__link:link,
.header .header__link:visited {
  color: black;
}

.header .header__link:hover {
  color: var(--dark-grey);
}
