.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 20px;
  text-align: center;
}

.header .header__profile {
  overflow: hidden;
  margin: 4px;
  height: 128px;
  border-radius: 50%;
}

.header .header__link {
  cursor: pointer;
  text-decoration: none;
}

.header .header__link:link,
.header .header__link:visited {
  color: black;
}

.header .header__link:hover {
  color: #878f99;
}
