@import "header.css";
@import "picker.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 20px;
  text-align: center;
  background-color: #9f91c3;
  min-height: 100lvh;
  max-width: 1028px;
  margin: 0 auto;
}

.content {
  width: 680px;
  margin: 0 auto;
}
