{% layout root.liquid %}
{% block content %}
  {% include header %}
  {% include breadcrumb %}
  <div class="contact">
    <p>Have a commission request? Want to purchase any of my art? Or just have a question? Just let me know!</p>
    {% include contact-form %}
  </div>
{% endblock %}