{% layout root.liquid %}
{% block content %}
  {% include header %}
  {% include breadcrumb %}
  <div class="contact">
    <p>Have a commission request? Want to purchase any of my art? Or just have a question? Just let me know!</p>
    <form
      accept-charset="UTF-8"
      action="https://getform.io/f/735cda43-b488-408f-994a-5f62644ec441"
      method="POST"
      enctype="multipart/form-data"
      id="contactform">
      <div>
        <label>Full Name</label>
        <div>
          <input
            type="text"
            name="full_name"
            required="required">
        </div>
      </div>
      <br>
      <div>
        <label>Email Address</label>
        <div>
          <input
            type="email"
            name="email"
            required="required">
        </div>
      </div>
      <br>
      <div>
        <label>Your Message:</label>
        <div>
          <textarea
            type="text"
            name="message"
            placeholder="Enter your message"
            required="required"></textarea>
        </div>
      </div>
      <br>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
{% endblock %}