<div class="gallery">
  {% for img in images %}
  <a href="/{{ img.type }}/{{ img.year }}/{{ img.index }}">
    <div class="gallery__thumbnail">
      {% galleryThumbnailImage img.type img.year img.file %}
    </div>
  </a>
  {% endfor %}
</div>
