---
permalink: /{{ image.type }}/{{ image.year }}/{{ image.index }}/index.html
---

{% layout root.liquid %} {% block content %}

<div class="image-modal">
  <div class="image-detail">
    {% imageDetail image.type image.year image.file %}
  </div>
</div>
{% endblock %}
