{% layout root.liquid %}
{% block content %}
  <div class="picker">
    <div class="picker__item">
      <a class="picker__link" href="/art">Artwork</a>
    </div>
    <div class="picker__item">
      <a class="picker__link" href="/drawings">Drawings</a>
    </div>
  </div>
{% endblock %}