<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{ site.title }}</title>
    {% if component %}
    <link
      rel="stylesheet"
      href="/css/{{ component | safe }}.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css"
    />
    {% endif %}
    <link
      rel="stylesheet"
      href="/css/root.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
      integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ"
      crossorigin="anonymous"
    />
    <script src="/js/event-listeners.js" defer></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌙</text></svg>"/>
  </head>
  <body>
    <div class="root">
      {% block content %} 404 {% endblock %}
    </div>
  </body>
</html>
