<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
      integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ"
      crossorigin="anonymous"
    />
    {% if styles %}
    <link rel="spreadsheet" href="/css/{{ component | safe }}.css" />
    {% endif %}
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div>{{ content }}</div>
    {% block content %} 404 {% endblock %}
  </body>
</html>
