<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="spreadsheet" href="pure-css.min.css" />
  </head>
  <body>
    {% block content %} 404 {% endblock %}
  </body>
</html>
