<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    {% if component %}
    <link
      rel="stylesheet"
      href="/css/{{ component | safe }}.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css"
    />
    {% endif %}
    <link
      rel="stylesheet"
      href="/css/root.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
      integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="root">
      {% include header %}
      <div class="content">{{ content }}</div>
      {% block content %} 404 {% endblock %}
    </div>
  </body>
</html>
